@import '../../styles/theme.scss';

.Auth {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.Auth-form {
  width: 100%;
  max-width: 420px;
  min-width: 320px;
  height: auto;
  padding: 0 24px;
}

.Auth-form__header {
  width: 100%;
  height: auto;
  background: $ebony;
  text-align: center;
  h1 {
    margin: 0;
    margin-top: 1rem;
    color: $white;
    text-transform: capitalize;
    font-size: 1.5rem;
  }
}

.Auth-form__tab {
  width: 50%;
  height: auto;
  padding: 0.5rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    color: $white;
    font-weight: 700;
    background: $ebony;
  }
}

.Auth-form__form {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1em;
  background: $ebony;
  text-align: center;
}

.Auth-form__input {
  color: $white;
  input {
    border-bottom: 1px solid $white;
  }
}
