@import "../../styles/theme.scss";

.Editor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


.Editor-header {
    width: 100%;
    height: 45px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $ebony;
}

.Editor-header-left {}
.Editor-header-right {}

.Editor-main {
    width: 100%;
    flex-grow: 1;
    display: flex;
}

.Editor-aside {
    display: flex;
    flex-direction: column;
    background: $ebony;
    button {
        width: 50px;
        height: 50px;
    }
}

.Editor-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.Editor-section-context {
    height: 45px;
    background: $white;
    display: flex;
    align-items: center;
    & > div {
        width: 100%;
        padding: 0 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.Editor-context-left,
.Editor-context-right {
    & > div {
        margin: 5px;
    }
}

.Editor-context-left {
    display: flex;
    align-items: center;
    position: relative;
}

.Editor-context-right {
    display: flex;
    align-items: center;
}

.Editor-section-canvas {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $grey;
}
