@import "../../styles/theme.scss";

.Editor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.Editor-header {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $ebony;
}

.Editor-header-left, 
.Editor-header-right {
    height: 45px;
    display: flex;
}

.Editor-header-left {
    a {
        width: 50px;
        height: 45px;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background: $white;
            color: $ebony;
        }
    }
    input[type="text"] {
        margin: 0.5em;
        padding: 0.5rem;
        background: none;
        border: 1px solid $ebony;
        color: $white;
        &:hover {
            border: 1px solid $white;
        }
    }    
}

.Editor-header-right {
    button {
        color: $white;
        background: none;
        border: none;
        padding: 0.5rem 0.75rem;
        cursor: pointer;
        &:hover {
            background: $white;
            color: $ebony;
        }
    }
}

.Editor-main {
    width: 100%;
    flex-grow: 1;
    display: flex;
}

.Editor-aside {
    display: flex;
    flex-direction: column;
    background: $ebony;
    button {
        width: 50px;
        height: 45px;
        color: $white;
        font-size: 11px;
        font-family: $fontFamily;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:disabled {
            color: $darkgrey;
            & > .line, .circle, .rectangle {
                background: $darkgrey;
            }
            & > .triangle {
                border-bottom-color: $darkgrey;
            }
        }
        &:hover {
            background: $white;
            color: $ebony;
            & > .line, .circle, .rectangle {
                background: $ebony;
            }
            & > .triangle {
                border-bottom-color: $ebony;
            }
        }
    }
    .line {
        width: 2px;
        height: 25px;
        transform: rotate(45deg);
        background: $white;
    }
    .circle {
        height: 20px; 
        width: 20px; 
        background: $white;
        border-radius: 50%;
    }
    .rectangle {
        height: 20px;
        width: 20px;
        background: $white;;
    }
    .triangle {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    	border-bottom: 20px solid $white;;
    }
    .inactive {
        color: $darkgrey;
    }
}

.Editor-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.Editor-section-context {
    height: 45px;
    background: $white;
    display: flex;
    align-items: center;
    & > div {
        width: 100%;
        height: 100%;
        padding: 0 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.Editor-context-item {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    & > div {
        margin: 5px;
    }
    button {
        color: $ebony;
        font-family: $fontFamily;
        background: none;
        border: none;
        padding: 0.5rem;
        margin: 0 0.25rem;
        cursor: pointer;
        &:hover {
            background: $ebony;
            color: $white;
        }
    }
}

.Editor-section-canvas {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $grey;
}

.Editor-resize {
    width: 50%;
    background: $white;
    text-align: center;
}

.Editor-resize header {
    background: $ebony;
    color: $white;
    h1 {
        margin: 0;
        padding: 0.4rem;
        font-size: 1.5rem; 
        text-transform: capitalize;
    }
}

.Editor-resize section {
    padding: 10px;
}

.Editor-resize-input {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    label {
        margin: 0.5rem;
        font-size: 0.9rem;
        font-family: inherit;
    }
    input {
        padding: 0.4rem;
        background: transparent;
        border: none;
        border-bottom: 1px solid $ebony;
    }
}

.Editor-loader {
    margin: 20px auto;
    width: 50px;
    height: 50px;
    border: 8px solid $darkgrey;
    border-top: 8px solid $ebony;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
