@import "../../styles/theme.scss";

.Editor {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.Editor-header {
    flex: 0 0 auto;
    width: 100%;
    height: 45px;
    background: $ebony;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Editor-header__group {
    height: 45px;
    display: flex;   
    align-items: center;
}

.Editor-header__input {
    margin: 0 0.5em;
    padding: 0.5rem;
    background: none;
    border: 1px solid $ebony;
    color: $white;
    &:hover {
        border: 1px solid $white;
    }
}

.Editor-header__link {
    padding: 0.5rem 0.75rem;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        color: $grey;
    }
}

.Editor-header__button {
    background: none;
    padding: 0 0.75rem;
    border: none;
    cursor: pointer;
    color: $white;
    display: flex;
    align-items: center;
    i {
        margin-right: 0.3rem;
    }
    &:hover {
        color: $grey;
    }
}

.Editor-header_menu-bar {
    display: none;
}

.Editor-menu {
    width: 100%;
    height: 100%;
    background: $ebony;
    padding-bottom: 24px;
    color: $white;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .7s cubic-bezier(0, .52, 0, 1);
}

.Editor-menu.show {
    transform: translate3d(0, 0, 0);
}

.Editor-menu.hide {
    transform: translate3d(-100vw, 0, 0);
}

.Editor-menu__header {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row-reverse;
}

.Editor-menu__close-button {
    background: none;
    padding: 2px 5px;
    border: none;
    cursor: pointer;
    color: $white;
    &:hover {
        color: $grey;
    }
}

.Editor-menu__button {
    margin: 0.5rem 0;
    width: 90%;
    max-width: 320px;
    height: 40px;
    background: $blue;
    border: none;
    color: $white;
    display: flex;
    align-items: center;
    i {
        padding: 0 0.5rem;
    }
    span {
        flex: 1 0 0;
        text-transform: uppercase;
    }
    &:hover {
        color: $ebony;
        background: $white;
    }
}

.Editor-objects {
    flex: 0 0 auto;
    width: 100%;
    height: 45px;
    display: flex;    
    align-items: center;
    background: $ebony;
}

.Editor-objects__button {
    width: 50px;
    height: 45px;
    color: $white;
    font-size: 11px;
    font-family: $fontFamily;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:disabled {
        color: $darkgrey;
        & > .line, .circle, .rectangle {
            background: $darkgrey;
        }
        & > .triangle {
            border-bottom-color: $darkgrey;
        }
    }
    &:hover {
        background: $white;
        color: $ebony;
        & > .line, .circle, .rectangle {
            background: $ebony;
        }
        & > .triangle {
            border-bottom-color: $ebony;
        }
    }
}

.line {
    width: 2px;
    height: 25px;
    transform: rotate(45deg);
    background: $white;
}

.circle {
    height: 20px; 
    width: 20px; 
    background: $white;
    border-radius: 50%;
}

.rectangle {
    height: 20px;
    width: 20px;
    background: $white;;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
	border-bottom: 20px solid $white;;
}

.inactive {
    color: $darkgrey;
}

.Editor-context {
    flex: 0 0 auto;
    width: 100%;
    height: 45px;
    background: $white;
    display: flex;
    align-items: center;
    & > div {
        width: 100%;
        height: 100%;
        padding: 0 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.Editor-context__item {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    & > div {
        margin: 5px;
    }
    button {
        color: $ebony;
        font-family: $fontFamily;
        background: none;
        border: none;
        padding: 0.5rem;
        margin: 0 0.25rem;
        cursor: pointer;
        &:hover {
            background: $ebony;
            color: $white;
        }
    }
}

.Editor-workspace {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.Editor-workspace__canvas {
    margin: 24px 0;
}

.Editor-resize {
    margin-top: 30px;
    width: 90%;
    max-width: 320px;
    background: $white;
}

.Editor-resize__header {
    background: $blue;
    h1 {
        color: $white;
        margin: 0;
        padding: 0.5rem 0;
        text-align: center;
        text-transform: capitalize;
    }
}
.Editor-resize__body {
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    align-items: center;
}

.Editor-resize__current {
    color: $ebony;
}

.Editor-resize__button {
    width: 70%;
    height: 40px;
    margin: 0.2rem 0;
    padding: 0.4rem;
    text-transform: uppercase;
}

.Editor-loader {
    margin: 10px auto;
    width: 50px;
    height: 50px;
    border: 8px solid $darkgrey;
    border-top: 8px solid $ebony;
    border-radius: 50%;
    animation: spin 2s linear infinite;;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.Editor-modal__loader {
    z-index: 5;
    width: 60%;
    height: auto;
}

.Editor-modal__resize {
    z-index: 5;
    width: 320px;
    background: $white;
    display: flex;
    justify-content: center;
    .Editor-resize {
        width: 100%;
        margin: 0;
    }
}

/* MEDIA QUERIES */
@media all and (min-width: 870px) {
    .Editor-header_menu-button {
        display: none;
    }
    .Editor-header_menu-bar {
        display: flex;
    }
}
