@import './_theme.scss';
@import './_mixins';

/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  background: $grey;
  font-family: $roboto;
  font-size: 100%;
  position: relative;
  z-index: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* UTILITIES */
.container {
  width: 90%;
  margin: 0 auto;
}

.link {
  color: $blue;
}
