@import '../../styles/_theme.scss';
@import '../../styles/_mixins.scss';

.Console {
  width: 100%;
  height: calc(100vh - 64px - 48px);
  display: flex;
}

.Console-loader {
  margin: 60px auto;
  width: 50px;
  height: 50px;
  border: 8px solid $darkgrey;
  border-top: 8px solid $ebony;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Console-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Console-list-header {
  width: 100%;
  height: 48px;
  padding: 0 12px;
  background: $ebony;
  color: $white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.Console-list-item {
  width: 100%;
  height: 48px;
  padding: 0 12px;
  background: $white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  a {
    color: $black;
    padding: 0.5rem;
    &:hover {
      color: $darkgrey;
    }
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
    &:hover {
      color: $darkgrey;
    }
  }
}
