@import "../../styles/theme.scss";

.Console {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

.Console-aside {
    margin: 0;
    padding: 0.5rem;
    width: 200px;
    height: 100%;
    background: $ebony;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.Console-aside-shadow {
    min-width: 200px;
}

.Console-profile {
    width: 100%;
    height: 52px;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
}

.Console-profile-avatar {
    height: 100%;
}

.Console-profile-name {
    flex-grow: 1;
    padding: 0 0.2rem;
    text-align: center;
    p {
        margin: 0;
        padding: 0;
    }
    button {
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
        color: inherit;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
            color: $grey;
        }
    }
}

.Console-create-btn {
    margin: 1rem;
    width: 90%;
    height: 40px;
    background: $white;
    color: $ebony;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    &:hover {
        color: $white;
        background: $ebony;
        border: 1px solid $white;
    }
}

.Console-nav {
    flex: 1 1 0;
    width: 100%;
}

.Console-content {
    flex: 1 0 0;
    background: $white;
}

.Console-content header,
.Console-content section {
    height: 2rem;
}

.Console-content header {
    display: flex;
    background: $ebony;
    color: $white;
    font-weight: 700;
}

.Console-content section {
    display: flex;
    background: $grey;
    .Console-content-3 {
        display: flex;
        justify-content: center;
        a {
            &:hover {
                color: $white;
            }
        }
        button {
            background: none;
            border: none;
            cursor: pointer;
            &:hover {
                color: $white;
            }
        }
    }
}

.Console-content-1,
.Console-content-2,
.Console-content-3 {
    display: flex;
    align-items: center;
}

.Console-content-1 {
    width: 40%;
}

.Console-content-2 {
    width: 45%;
}

.Console-content-3 {
    width: 15%;
}

.Console-loader {
    margin: 20px auto;
    width: 50px;
    height: 50px;
    border: 8px solid $darkgrey;
    border-top: 8px solid $ebony;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
