@import '../../styles/_theme.scss';
@import '../../styles/_mixins.scss';

.Editor {
  width: 100%;
  height: calc(100vh - 64px - 48px);
  display: flex;
  flex-direction: column;
  @include md {
    flex-direction: row;
  }
}

.Editor-options {
  width: 100%;
  height: 48px;
  background: $ebony;
  display: flex;
  @include md {
    width: 48px;
    height: 100%;
    flex-direction: column;
  }
}

.Editor-options button {
  width: 48px;
  height: 48px;
  color: $white;
  font-size: 10px;
  font-family: $roboto;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  &:hover {
    background: $white;
    color: $ebony;
  }
  span,
  p {
    width: 100%;
  }
}

.Editor-options button.active {
  color: $blue;
}

.Editor-options button.inactive {
  color: $darkgrey;
}

.Editor-loader {
  width: 50px;
  height: 50px;
  border: 8px solid $darkgrey;
  border-top: 8px solid $ebony;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Editor-workspace {
  width: 100%;
  height: calc(100% - 48px);
  @include md {
    width: calc(100% - 48px);
    height: 100%;
  }
}

.Editor-context {
  width: 100%;
  height: 48px;
  background: $white;
}

.Editor-context-container {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Editor-context-left,
.Editor-context-right {
  display: flex;
}

.Editor-context-item {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  & > div {
    margin: 5px;
  }
  button {
    color: $ebony;
    font-family: $roboto;
    background: none;
    border: none;
    padding: 0.5rem;
    margin: 0 0.25rem;
    cursor: pointer;
    &:hover {
      background: $ebony;
      color: $white;
    }
  }
}

.Editor-canvas {
  width: 100%;
  height: calc(100% - 48px);
  padding: 20px;
}

.Editor-canvas-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Editor-ShapeModal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;

  button {
    width: 50px;
    height: 50px;
    font-size: 12px;
    font-family: $roboto;
    color: $ebony;
    background: $white;
    border: none;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover {
      color: $white;
      background: $ebony;
      .line,
      .circle,
      .rectangle {
        background: $white;
      }
      .triangle {
        border-bottom-color: $white;
      }
    }
  }

  .line {
    width: 2px;
    height: 25px;
    transform: rotate(45deg);
    background: $ebony;
  }

  .circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: $ebony;
  }

  .rectangle {
    height: 20px;
    width: 20px;
    background: $ebony;
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid $ebony;
  }
}
.Editor-ClearModal {
  padding: 1rem;
  text-align: center;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  button {
    width: 80%;
    margin: 0.5rem auto;
    padding: 0.5rem;
    text-transform: capitalize;
    text-align: center;
    background: none;
    border: 1px solid black;
    cursor: pointer;
    font-family: $roboto;
    font-size: 1rem;
    color: $black;
    &:hover {
      background: $white;
      color: $black;
    }
  }
}

.Editor-SaveModal {
  padding: 1rem;
  text-align: center;

  .form-group {
    margin: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    color: $black;
    label {
      text-transform: capitalize;
      font-size: 0.9rem;
      font-family: inherit;
    }
    input {
      width: 100%;
      height: 2rem;
      padding: 0.4rem;
      background: transparent;
      border: none;
      border-bottom: 1px solid $black;
      color: inherit;
      font-size: 1rem;
    }
  }

  button {
    display: inline-block;
    width: 80%;
    margin: 0.5rem auto;
    padding: 0.5rem;
    text-transform: capitalize;
    text-align: center;
    background: none;
    border: 1px solid black;
    cursor: pointer;
    font-family: $roboto;
    font-size: 1rem;
    color: $black;
    &:hover {
      background: $white;
      color: $black;
    }
  }
}

.Editor-SettingsModal {
  padding: 1rem;
  text-align: center;

  .form-group {
    margin: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    color: $black;
    label {
      text-transform: capitalize;
      font-size: 0.9rem;
      font-family: inherit;
    }
    input {
      width: 100%;
      height: 2rem;
      padding: 0.4rem;
      background: transparent;
      border: none;
      border-bottom: 1px solid $black;
      color: inherit;
      font-size: 1rem;
    }
  }

  button {
    display: inline-block;
    width: 80%;
    margin: 0.5rem auto;
    padding: 0.5rem;
    text-transform: capitalize;
    text-align: center;
    background: none;
    border: 1px solid black;
    cursor: pointer;
    font-family: $roboto;
    font-size: 1rem;
    color: $black;
    &:hover {
      background: $white;
      color: $black;
    }
  }
}
