@import './styles/_theme.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: $grey;
  font-family: $roboto;
  font-size: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background: none;
  border: 1px solid $white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-family: $roboto;
  font-size: 0.8rem;
  font-weight: 700;
  color: $white;
  display: inline-block;
}

.btn:hover {
  background: $blue;
}
